/* This is a CSS comment */

body{
	background-color:papayawhip;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}

p{
	text-align:center;
}

/* navbar colours */

nav{
	background-color: sienna;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	color: white;
	padding: 10px;
}

/* changing the colour of the hyperlinks to fit with my colour scheme. link = normal link, visited = visited link, active = user clicking on link, and hover = when mouse is over link */

/* stands out */
a:link {
	color: white;
}

a:visited {
	color: white;
}

/* light purple colour, closer to regular clicked links (purple) */
a:active {
	color: thistle;
}

a:hover {
	color: snow: ;
}

/* all divs formatted the same for now */

div {
	background-color: tan; 
	text-align: center;
	text-shadow: 
	height: 50px;
	width: max-width;
	margin-bottom: 5px;
	margin-top: 5px;
}

